<?= View::instance()->render('header.html') ?>
<div id="topdiv">
 <?= Sc::go('/category','Listing') ?>
</div>
<div id="bottom">
<h3><?=$page_head?> </h3>
<?= isset($msg) ? '<div id="showmsg">'.$msg.'</div>' : '' ?>


<form action="<?= $form_action ?>" method="POST">
 <?php if (isset($POST['categoryId'])) { ?>
 <p><?= Fm::text('categoryId',['label'=>'Id: ','readonly']); ?></p>
 <?php } ?>
 <p><?= Fm::text('description',['label'=>'Description: ','maxlength'=>40,'required'])?> </p>
 <p><?= Fm::text('sname',['label'=>'SNAME: ','maxlength'=>16,'required','pattern'=>'[_A-Z0-9]+'])?> </p>
 <p><?= Fm::txtarea('remarks',['label'=>'Remarks: ','rows'=>4,'cols'=>50]) ?></p>
 
 <div class="control-group">
   <input type="hidden" name="<?= $form_command ?>" value="<?= $form_command ?>"/>
   <input type="submit" name="submit" value="<?= $form_label ?>"/>
 </div>
</form>


</div>
<?= View::instance()->render('footer.html') ?>

