<?php
  CompatV1::ui_script('/ui/scripts/moment.min.js');
  CompatV1::ui_script('/ui/scripts/pikaday.js');
  CompatV1::x_css_inc('/ui/css/pikaday.css');
  CompatV1::ui_script('/app/views/positions.js');
  CompatV1::ui_script('/app/views/yrnav.js');

  function acct_tip($dat) {
    if (!isset($dat) || !is_array($dat)) return '';
    if (isset($dat['acctNo'])) return (isset($dat['symbol']) ? $dat['symbol'].' ' : '').$dat['acctNo'];
    if (isset($dat['sname'])) return $dat['sname'];
    return '';
  }

?>
<?= View::instance()->render('header.html') ?>
<div id="topdiv">
  <input type="hidden" id="base_url" name="base_url" value="<?= Sc::url('/positions/') ?>"/>
  <?php if (count($positions)) { ?>
  <?= Sc::jslnk("do_submit();","Save") ?> :
  <?php } ?>
  <?= PositionController::yrnav('/positions/year/', $year) ?> :
  <span id="add_column_menu"><?= Sc::jslnk("addcol();","Add Column") ?></span>
  <span id="add_date" style="display: none">
   <?= Fm::text('posDate',['value'=>$year.date('-m-d'),'size'=>8,'maxlength'=>10,'required','placeholder'=>'yyyy-mm-dd','class'=>'mypikadayclass','onchange'=>'go_add_col()']) ?>
  </span>

</div>
<div id="bottom">
 <?= isset($msg) ? '<div id="showmsg">'.Sc::f3()->get('msg').'</div>' : '' ?>
<h3><?=$year?> Equity Positions</h3>

<form id="dlg" method="post" action="<?=Sc::url('/positions/save')?>">
<input type="hidden" id="cols" name="cols" value="<?=implode(',',array_keys($positions))?>"/>
<table>
  <thead>
  <tr>
    <th>Account</th><th>Number</th>
    <?php foreach (array_keys($positions) as $n) { ?>
      <th><?= $n ?></th>
    <?php } ?>
  </tr>
  </thead>
  <tbody>
  <?php foreach ($accounts as $acct=>$acct_desc) { ?>
    <tr>
     <td>
       <span title="<?= acct_tip($acct_all[$acct]) ?>">
	<?= $acct_desc ?>
       </span>
     </td>
     <td>
       <span title="<?= acct_tip($acct_all[$acct]) ?>">
        <?= $acct_all[$acct]['acctNo'] ?>
       </span>
     </td>
     <?php foreach ($positions as $n=>$pos) { ?>
       <td>
	 <?= Fm::text('i'.$acct.'x'.str_replace('-','_',$n),['value'=>sprintf("%.2f",$pos[$acct]),'size'=>6,'maxlenght'=>12,'style'=>'text-align:right;']) ?>
       </td>
     <?php } ?>
    </tr>
  <?php } ?>
  <tr>
    <td colspan=2>&nbsp;</td>
    <?php foreach (array_keys($positions) as $n) { ?>
      <th><?= Sc::go('/positions/dropcol/'.$n,'Del',['confirm'=>"Delete Column $n?"]) ?></th>
    <?php } ?>
  </tr>
  </tbody>
</table>
</form>

</div>
<?= View::instance()->render('footer.html') ?>
<script src="<?= Sc::url('/ui/scripts/pikaday-helper.js')?>"></script>

