<?php
  CompatV1::ui_script('/ui/scripts/sorttable.js');
  CompatV1::ui_script('/app/views/postings_balance.js');
  //CompatV1::ui_script('/app/views/postings_form.js');
  //CompatV1::ui_script('/ui/scripts/UltimateScrollingTable.js');
  Sc::f3()->set('form_action_url','/postings/crud/balance');
  Sc::f3()->set('b_action', true);

?>
<?= View::instance()->render('header.html') ?>
<div id="topdiv">
  <input type="hidden" id="base_url" name="base_url" value="<?= Sc::url('/balance/index') ?>"/>
  <?= CompatV1::select($account_id,$accounts,'account',['onchange'=>'changeAcct();']) ?>
  <?= View::instance()->render('postings_form.html') ?>
</div>
<div id="bottom">
<h3>Balance Account</h3>
<?= isset($PARAMS['msg']) ? '<div id="showmsg">'.$PARAMS['msg'].'</div>' : '' ?>

<?= View::instance()->render('postings_table.html') ?>

<h4>New Balance</h4>
<form action="<?= Sc::url('/balance/new')?>" method="post" id="form_new_balance_form">
<input type="hidden" name="acctId" id="form_acctId" value="<?=$POST['acctId']?>" />
Date: <?=Fm::date('dateBalance',['default'=>date('Y-m-d'),'required']) ?>
Amount: <?= Fm::text('amountBalance',['size'=>7,'maxlength'=>20,'required']) ?>
<input type="submit" name="submit" value="Update" id="form_new_balance_submit"/>
</form

</div>

<!--- <pre><?php print_r([$category_page,$categories_opt]); ?></pre> -->
<!-- <pre>COOKIES<br/><?php print_r(Sc::f3()->get('COOKIES')); ?></pre> -->

<?= View::instance()->render('footer.html') ?>
