<table class="sortable">
  <thead>
  <tr>
    <th>Date</th>
    <?php if ($account_id == 0) { ?><th>Account</th><?php } ?>
    <th>Description</th>
    <th>Category</th>
    <th>Amount</th>
    <?php if (isset($balance)) { ?><th>Balance</th><?php } ?>
    <th>Action</th>
  </tr>
   <?php if (isset($balance)) { ?>
     <tr>
      <td></td><td>Starting balance</td><td></td><td></td>
      <td <?= $balance < 0 ? ' style="color:red"' : ''?> align="right">
	   <?= number_format($balance,2) ?>
      </td>
      <td></td>
     </tr>
   <?php } ?>
  </thead>
  <tbody>

   <?php 
     $code = '';
      foreach ($postings as $row) {
        $code .= 'function edit_post_'.$row->postingId.'() {'.PHP_EOL;
   	$code .= '  edit_post('.$row->postingId.',"'.$row->postingDate.'","'.$row->description.'",'.$row->categoryId.','.$row->catgroup.','.$row->amount.','.$row->acctId.');';
	$code .= '}'.PHP_EOL;
   ?>
     <tr>
       <td><span title="<?=$row->text?>"><?=$row->postingDate?></span></td>
       <?php if ($account_id == 0) { ?>
	<td>
          <span title="<?=$row->text?>"><?=$accounts_long[$row->acctId]?></span>
	</hd>
      <?php } ?>
       <td><span title="<?=$row->text?>"><?=$row->description?></span></td>
       <td><span title="<?=$row->text?>">
	  <?=$categories_long[$row->categoryId]?>
	  <?= $row->catgroup != 0 ? $row->catgroup : '' ?>
       </span></td>
       <td <?= $row->amount < 0 ? ' style="color:red"' : ''?> align="right">
	 <span title="<?=$row->detail.PHP_EOL.'XID: '.$row->xid ?>">
	   <?= number_format($row->amount,2) ?>
	 </span>
       </td>
       <?php if (isset($balance)) { $balance += $row->amount ; ?>
	<td <?= $balance < 0 ? ' style="color:red"' : ''?> align="right">
	   <?= number_format($balance,2) ?>
	</td>
       <?php } ?>
       <td>
	 <?= Sc::jslnk('edit_post_'.$row->postingId.'()',"Edit") ?>
	 <?= Sc::go('/postings/delete/'.$row->postingId,'Delete',['confirm'=>'Are you sure?']) ?>
       </td>
     </tr>
   <?php if (isset($balance)) { Sc::f3()->set('POST.amount',$balance);  } ?>
   <?php } ?>
  </tbody>
</table>

<script type="text/javascript">
<?= $code ?>
</script>
