<!--
ACCOUNT
ID

Type Date XID
Description Amount
Category | group

  postingId  INT  NOT NULL  AUTO_INCREMENT ,
  acctId INT NOT NULL DEFAULT 0,
  categoryId INT NOT NULL DEFAULT 0,
  catgroup INT NOT NULL DEFAULT 0,
  postingDate DATE NOT NULL DEFAULT "1970-01-01",
  xid INT NOT NULL DEFAULT 0,
  description  VARCHAR  (40)  NOT NULL DEFAULT "",
  amount DECIMAL (20,2) NOT NULL DEFAULT 0.0,
-->
<hr/>
<form action="<?= Sc::url('/postings/crud') ?>" method="POST"<?= isset($form_id) ? ' id="'.$form_id.'"' : ''?>>
 <?php
  if (isset($accounts_long)) {
    echo 'Account: ';
    echo Fm::select('acctId',$accounts_long);
    echo '<br/>';
  } else {
    echo '<input type="hidden" name="acctId" id="form_acctId" value="'.$POST['acctId'].'" />';
  }
 ?>
 Id: <?= Fm::text('postingId',['readonly','placeholder'=>'New',size=>5]) ?>
 <span style="float: right">
  Date:
   <?= Fm::text('postingDate',['size'=>8,'maxlength'=>10,'required','placeholder'=>'yyyy-mm-dd','class'=>'mypikadayclass']) ?>
 </span>
 <br/>
  Desc:
  <span style="float:right">
    Amount:
    <?= Fm::text('amount',['size'=>7,'maxlength'=>20,'required']) ?>
  </span>
  <br/>
  <?= Fm::text('description',['maxlength'=>20,'required']) ?>
  <br/>
  <?php 
    if (isset($categories_long)) {
     ?>  Category: <br/>
     <?= Fm::select('categoryId',$categories_long) ?>
   <?php } else { ?>
     <input type="hidden" name="categoryId" id="form_categoryId" value="<?=$POST['categoryId']?>" />
   <?php } ?>
  &nbsp;&nbsp;
    <?= Fm::text('catgroup',['size'=>4,'maxlength'=>8,'placeholder'=>'group']) ?>
    <!-- input type="text" size=11 maxlength=11 name="xid" value="<?= $POST['xid'] ?>" placeholder="group"/ -->
  <br/>
 <div class="control-group">
   <input type="submit" name="submit" value="Submit" id="form_submit" />
   <input type="reset" name="reset" value="Reset"/>
 </div>
</form>
