<?php
  Sc::ui_script('/ui/scripts/sorttable.js');
  Sc::ui_script('/app/views/postings_balance.js');
  //Sc::ui_script('/app/views/postings_form.js');
  Sc::ui_script('/ui/scripts/moment.min.js');
  Sc::ui_script('/ui/scripts/pikaday.js');
  Sc::x_css_inc('/ui/css/pikaday.css');
  //Sc::ui_script('/ui/scripts/UltimateScrollingTable.js');
?>
<?= View::instance()->render('header.html') ?>
<div id="topdiv">
  <input type="hidden" id="base_url" name="base_url" value="<?= Sc::url('/balance/index') ?>"/>
  <?= Sc::select($account_id,$accounts,'account',['onchange'=>'changeAcct();']) ?>
  <?= View::instance()->render('postings_form.html') ?>
</div>
<div id="bottom">
<?= View::instance()->render('postings_table.html') ?>
</div>
<pre><?php print_r([$category_page,$categories_opt]); ?></pre>


<?= View::instance()->render('footer.html') ?>
<script src="<?= Sc::url('/ui/scripts/pikaday-helper.js')?>"></script>
