<?php
  CompatV1::ui_script('/app/views/rpt.js');
  CompatV1::ui_script('/app/views/yrnav.js');

  list($first,$last,$gains) = [NULL,NULL,FALSE];
  if (count($positions) >= 2) {
    $gains = TRUE;
    $temp = array_keys($positions);
    $first = array_shift($temp);
    $last = array_pop($temp);
    unset($temp);
  }
  $al_totals = ['a'=>[],'l'=>[]];
  $graph = new phpGraph();
  $g_hist = [ 'assets' => [] , 'liabilities' => [] ];
  $g_line = [];
?>
<?= View::instance()->render('header.html') ?>
<div id="topdiv">
  <?php if ($mode == 'year') { ?>
    <?= PositionController::yrnav('/positions/rpt/'.$report.'/', $period) ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/p'.$period,'Year+') ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/'.$period.'-01-01/'.$period.'-12-31','Customize') ?>
  <?php } else if ($mode == 'year+') { ?>
    <?= PositionController::yrnav('/positions/rpt/'.$report.'/p', $period) ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/'.$period,'Year-') ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/'.($period-1).'-12-31/'.$period.'-12-31','Customize') ?>
  <?php } else if ($mode == 'multiyear') { ?>
    <input type="hidden" id="base_url" name="base_url" value="<?= Sc::url('/positions/rpt/'.$report.'/') ?>"/>
    <input type="text" id="form_startyear" name="startyear" maxlength=4 size=4 patter="[0-9]" value="<?=substr($start,0,4)?>" onchange="mychg()" />
    <input type="text" id="form_endyear" name="endyear" maxlength=4 size=4 patter="[0-9]" value="<?=substr($end,0,4)?>" onchange="mychg()" />
    <?= Sc::jslnk('mychg()','Go') ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/p'.substr($start,0,4),'Year+') ?> :
    <?= Sc::go('/positions/rpt/'.$report.'/'.$start.'/'.$end,'Any') ?>
  <?php } else if ($mode == 'any') { ?>
    <input type="hidden" id="base_url" name="base_url" value="<?= Sc::url('/positions/rpt/'.$report.'/') ?>"/>
    <?= Fm::date('rptStart',['value'=>$start,'required']) ?>
    <?= Fm::date('rptEnd',['value'=>$end,'required']) ?>
  <?= Sc::jslnk('custom_date()','Go') ?> :
  <?= Sc::go('/positions/rpt/'.$report.'/'.substr($start,0,4),'Year') ?> :
  <?= Sc::go('/positions/rpt/'.$report.'/'.substr($start,0,4).'/'.substr($end,0,4),'Multi-Year') ?>
  <?php } ?>
</div>
<div id="bottom">
 <?= isset($msg) ? '<div id="showmsg">'.Sc::f3()->get('msg').'</div>' : '' ?>
<?php if ($mode == 'year') { ?>
<h3><?=$period?> Equity Positions</h3>
<?php } else if ($mode == 'any') { ?>
<h3>Report for <?=$start?> to <?=$end?></h3>
<?php } else { ?>
<h3>Positions Report</h3>
<?php } ?>


<table>
  <thead>
  <tr>
    <th>Account</th>
    <?php foreach (array_keys($positions) as $n) { ?>
      <th><?= $n ?></th>
      <?php $al_totals['a'][$n] = 0;$al_totals['l'][$n] = 0; ?>
    <?php } ?>
    <?php if ($gains) { echo '<th>Perf</th>'; } ?>
  </tr>
  </thead>
  <tbody>
  <?php foreach ($accounts as $acct=>$acct_desc) { ?>
    <tr>
     <td><?= $acct_desc ?> </td>
     <?php foreach ($positions as $n=>&$pos) { ?>
       <td align="right">
	 <?php
	    if (!isset($pos[$acct])) $pos[$acct] = 0;
	    if (preg_match('/^([0-9][0-9][0-9][0-9])-([0-9][0-9])-[0-9][0-9]$/', $n, $mv)) {
	      $year = intval($mv[1]);
	      $mn = intval(ltrim($mv[2],'0'));
	      $mn -= 2;
	      if ($mn < 1) $mn = 1;
	      echo Sc::go('/postings/index/'.
                  implode(',',[$acct, $mn, $year, 'a']),
		  CNum::fmt($pos[$acct]));
	    } else {
	      echo CNum::fmt($pos[$acct]);
	    }
	  ?>
       </td>
       <?php $al_totals[$pos[$acct] < 0 ? 'l' : 'a'][$n] += $pos[$acct]; ?>
     <?php } ?>
     <?php if ($gains) {
	if ($positions[$first][$acct]!=0.0) {
	  echo
		'<td align="right">'.
		CNum::fmt(($positions[$last][$acct] - $positions[$first][$acct]) * 100.0 / $positions[$first][$acct],2,'color:blue').
		' % </td>';
	} else {
	  echo '<td></td>';
	}
     } ?>
    </tr>
  <?php } ?>
  <tr>
   <th colspan="<?= count($positions)+2 ?>"><hr/></th>
  </tr>
  <?php foreach (['a'=>'assets','l'=>'liabilities'] as $i=>$j) {?>
   <tr>
    <th><?=$j?></th>
    <?php foreach ($al_totals[$i] as $num) { ?>
      <td align="right"><?= CNum::fmt($num) ?></td>
    <?php } ?>
    <?php
       if ($gains) {
         if ($al_totals[$i][$first]!=0.0) {
	   echo '<td align="right">'.
		CNum::fmt(($al_totals[$i][$last] - $al_totals[$i][$first])*100.0/$al_totals[$i][$first],2,'color:blue').
		' % </td>';
         } else {
           echo '<td></td>';
         }
       }
    ?>
   </tr>
  <?php } ?>
  <tr>
   <th colspan="<?= count($positions)+2 ?>"><hr/></th>
  </tr>

  <tr>
    <th>Totals</th>
    <?php
       $prev = FALSE;
       $deltas = [];
       foreach ($positions as $i => $pos) {
         $sum = 0;
         $g_hist['assets'][$i] = $g_hist['liabilities'][$i] = 0;
         foreach ($pos as $n) {
           $sum += $n;
	   if ($n < 0) {
	     $g_hist['liabilities'][$i] -= $n;
	   } else {
	     $g_hist['assets'][$i] += $n;
	   }
         }
	 $g_line[$i] = $sum;
         if ($prev !== FALSE) {
          $deltas[] = ($sum - $prev) * 100.0 / $prev;
         } else {
          $in = $sum;
         }
         $out = $prev = $sum;
         echo '<th align="right">'.CNum::fmt($sum,2,'color:blue').'</th>';
       }
       if ($gains) {
         echo '<th align="right">';
	 if ($in) echo CNum::fmt(($out-$in)*100.0/$in,2,'color:blue').' %';
         echo '</th>';
       }
    ?>
  </tr>
  <?php if (count($deltas)) {
    echo '<tr><th>Gains</th><td></td>';
    foreach ($deltas as $n) {
      echo '<td align="right">'.CNum::fmt($n,2,'color:blue').' % </td>';
    }
    echo '</tr>';
  } ?>
  </tbody>
</table>

<?php if (count($positions) >= 2) {
  //$data = [ 'Se 1' => 100000, 'Se 2' => 200000, 'Se 3' => 300000, 'Se 4' => 400000 ];
  //echo $graph->draw($data,['steps'=>50000,'type'=>'bar']);
  //echo  $graph->draw($g_line,['type'=>'line','steps'=>50000]);
  // $graph->draw($g_hist,['multi'=>TRUE,'type'=>['assets'=>]) ;
  //echo '<pre>';
  //print_r(['g_hist'=>$g_hist,'g_line'=>$g_line]);
  //echo '</pre>';
} ?>

<hr/>

<table>
  <tr><th align="left">Report</th><td><?= $report ?></td>
  <tr><th align="left">Mode</th><td><?= $mode ?></td>
  <?php if (isset($period)) { ?><tr align="left"><th>Period</th><td><?= $period ?></td><?php } ?>
  <?php if (isset($start)) { ?><tr align="left"><th>Start</th><td><?= $start ?></td><?php } ?>
  <?php if (isset($end)) { ?><tr align="left"><th>End</th><td><?= $end ?></td><?php } ?>
  <?php if ($first) { ?><tr align="left"><th>First</th><td><?= $first ?></td><?php } ?>
  <?php if ($last) { ?><tr align="left"><th>Last</th><td><?= $last ?></td><?php } ?>
</table>
POSITIONS
</div>
<?= View::instance()->render('footer.html') ?>

