<?php
  CompatV1::ui_script('/app/views/yrnav.js');
  $graph = new phpGraph();
  $chdata = [];
?>
<?= View::instance()->render('header.html') ?>
<div id="topdiv">
  <?= PositionController::yrnav('/rpt_summary/',$year) ?>
</div>
<div id="bottom">
<h3><?=$year?> Summary</h3>

<table>
 <thead>
  <tr>
    <th>Category</th>
    <?php for ($i=1;$i<=12;$i++) { printf('<th>%02d</th>',$i); } ?>
    <th>Totals</th>
    <th>Percent</th>
  </tr>
 </thead>
 <tbody>
  <?php foreach (array_keys($category_types) as $tt) { $chdata[$tt] = []; ?>
   <tr><th colspan="15"><?= $category_types[$tt] ?></th></tr>
   <?php foreach (array_keys($table[0][$tt]) as $cat) { ?>
    <tr>
     <td style="color:darkgreen"><?=$categories_long[$cat]?></td>
     <?php for ($i=1;$i<=13;$i++) { $mn = $i == 13 ? 0 : $i; ?>
      <td align="right">
	<?php
	 if (count($table[$mn][$tt][$cat]) == 0) {
	   echo '&nbsp;';
	   $total = '';
	 } elseif (count($table[$mn][$tt][$cat]) == 1 && isset($table[$mn][$tt][$cat][0])) {
	   list($total) = $table[$mn][$tt][$cat];
	   if ($mn == 0) {
	    echo CNum::fmt($total);
	   } else {
	    echo '<a href="'.
		    Sc::url('/postings/index/'.
			    implode(',',[0, $mn, $year, $cat])).
		    '">';
	    echo CNum::fmt($total);
	    echo '</a>';
	   }
	 } else {
	   $total = 0;
	   foreach ($table[$mn][$tt][$cat] as $x=>$y) {
	     $total += $y;
	   }
	   if ($mn == 0) {
	    echo '<strong>'.CNum::fmt($total).'</strong>';
	   } else {
	    echo '<a href="'.
		    Sc::url('/postings/index/'.
			    implode(',',[0, $mn, $year, $cat])).
		    '">';
	    echo '<strong>'.CNum::fmt($total).'</strong>';
	    echo '</a>';
	   }
	   echo ' - ';
	   ksort($table[$mn][$tt][$cat]);
	   foreach ($table[$mn][$tt][$cat] as $x=>$z) {
	     echo '<br/>'.$x.': ' . CNum::fmt($z);
	   }
	 }
	?>
      </td>
     <?php } ?>
     <?php
	 echo '<td align="right">';
	 if ($total != '') {
	   $chdata[$tt][$categories_short[$cat]] = $total < 0 ? -$total : $total; // Adding chart data
	   $pct = $total * 100.0 / $totals[0][$tt];
	   echo CNum::fmt($pct).'%';
	 }
	 echo '</td>';
     ?>
    </tr>
   <?php } ?>
   <tr>
    <th>Total <?=  $category_types[$tt] ?></th>
     <?php for ($i=1;$i<=13;$i++) { $mn = $i == 13 ? 0 : $i; ?>
       <th align="right"><?=CNum::fmt($totals[$mn][$tt],2,'color:blue') ?></th>
     <?php } ?>
     <td>&nbsp;</td>
   </tr>
   <tr>
    <th>Cumulative <?=  $category_types[$tt] ?></th>
     <?php $j = 0.0; for ($i=1;$i<=12;$i++) { $j += $totals[$i][$tt];?>
       <th align="right"><?=CNum::fmt($j,2,'color:blue')?></th>
     <?php } ?>
     <td colspan="2">&nbsp;</td>
   </tr>
  <?php } ?>
 </tbody>
 <tfoot>
   <tr><th colspan="15"><hr/></th></tr>
   <tr>
    <th>Balance</th>
    <?php for ($i=1;$i<=13;$i++) { ?>
      <?php
	$mn = $i == 13 ? 0 : $i;
	$total = 0;
	foreach (array_keys($category_types) as $tt) {
	  $total += $totals[$mn][$tt];
	}
      ?>
      <th aligh="right"><?= CNum::fmt($total,2,'color:blue') ?></th>
    <?php } ?>
    <td>&nbsp;</td>
   </tr>
   <tr>
    <th>Cumulative Balance</th>
    <?php $j = 0.0; for ($i=1;$i<=12;$i++) { ?>
      <?php
	foreach (array_keys($category_types) as $tt) {
	  $j += $totals[$i][$tt];
	}
      ?>
      <th align="right"><?=CNum::fmt($j,2,'color:blue')?></th>
    <?php } ?>
    <td colspan="2">&nbsp;</td>
   </tr>
 </tfoot>

</table>

<?php foreach ($chdata as $i=>$j) {
  if (count($j) < 2) continue;
  echo '<h2>'.$category_types[$i].'</h2>';
  echo $graph->draw($j,['type'=>'pie','diskLegends'=>TRUE]);
} ?>

</div>
<?= View::instance()->render('footer.html') ?>
